<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        convertNoticesToExceptions="true"
        stopOnFailure="false">
<testsuites>
    <testsuite name="Unit">
          <directory suffix="Test.php">./Tests/Units</directory>
    </testsuite>
    <testsuite  name="Functional">
          <directory suffix="Test.php">./Tests/Functional</directory>
    </testsuite>
</testsuites>
</phpunit>